@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/Bebas-Neue/subset-BebasNeueCyrillic.woff2') format('woff2'),
      url('../assets/fonts/Bebas-Neue/subset-BebasNeueCyrillic.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('../assets/fonts/Golos/subset-GolosText-Medium.woff2') format('woff2'),
      url('../assets/fonts/Golos/subset-GolosText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('../assets/fonts/Golos/subset-GolosText-Regular.woff2') format('woff2'),
      url('../assets/fonts/Golos/subset-GolosText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
