.section {
  margin: 8rem 0;

  @include breakpoint(tablet) {
    margin: 4rem 0;
  }

  &.--grey,
  &.--green {
    .section__inner {
      margin: 0 -4rem;

      border-radius: 4rem;
      padding: 8rem 4rem;

      @include breakpoint(tablet) {
        margin: 0 -2rem;
        padding: 4rem 2rem 2rem;
      }
    }

    .swiper {
      overflow: hidden;
    }
  }

  &.--grey .section__inner {
    background-color: var(--bg);
  }

  &.--green {
    color: white;

    .section__inner {
      background-color: var(--secondary-color);
    }
  }

  &.--border {
    .section__inner {
      margin: 0 -4rem;
      padding: 8rem 4rem;

      border: 0.1rem solid rgba(33, 42, 47, 0.2);
      border-radius: 4rem;

      @include breakpoint(tablet) {
        margin: 0 -2rem;
        padding: 4rem 2rem;
      }
    }

    .swiper {
      overflow: hidden;
    }
  }

  &.--ratio-1x1 {
    .section__inner {
      grid-template-columns: repeat(2, 1fr);

      @include breakpoint(tablet) {
        grid-template-columns: 1fr;
      }

      &>*:nth-child(1),
      &>*:nth-child(2) {
        grid-column: span 1;
      }
    }
  }

  &.--ratio-5x7 {
    .section__inner {
      grid-template-columns: repeat(12, 1fr);

      @include breakpoint(tablet) {
        grid-template-columns: 1fr;
      }

      &>*:nth-child(1) {
        grid-column: span 5;

        @include breakpoint(tablet) {
          grid-column: span 1;
        }
      }

      &>*:nth-child(2) {
        grid-column: span 7;

        @include breakpoint(tablet) {
          grid-column: span 1;
        }
      }
    }
  }

  &.--heading-to-top {
    .section__heading {
      justify-content: flex-start;
    }
  }

  &.--first-section {
    position: relative;
    z-index: 4;

    margin-top: -4rem;
    border-radius: 4rem;
    padding-top: 2rem;

    background: white;

    @include breakpoint(tablet) {
      margin-top: -2rem;
      padding-top: 1.5rem;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;

    @include breakpoint(desktop) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    &>*:nth-child(1) {
      grid-column: span 1;
    }

    &>*:nth-child(2) {
      grid-column: span 3;

      @include breakpoint(desktop) {
        grid-column: span 1;
      }
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .js-animation {
    transform: translateY(5rem);
    opacity: 0;

    transition: transform 0.3s ease-out, opacity 0.2s ease-in;
  }

  .js-animation.animated {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    @extend %fs-h1;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
  }

  &__subtitle {
    @extend %fs-t1;
    color: #212A2F;
  }

  &__content {
    min-width: 0;
  }
}