.catalog {
  position: relative;
  overflow: hidden;
  margin: 0 -2rem;
  padding: 0 2rem;

  @include breakpoint(desktop) {
    overflow: visible;
  }

  @include breakpoint(tablet) {
    margin: 0;
    padding: 0;
  }

  .pagination {
    display: flex;

    margin: 4rem auto 0;
    width: fit-content;

    @include breakpointMF(laptop) {
      display: none;
    }
  }

  .swiper-pagination {
    position: static;
    margin: 4rem auto 0;

    @include breakpointMF(laptop) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background-color: #212A2F;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--secondary-color);
  }

  .navigation {
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 2;

    width: 100%;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  .slider-button.swiper-button-disabled {
    background-color: var(--bg);
    opacity: 0.5;
  }
}