.gallery {

  .swiper {
    overflow: hidden;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 8rem);
    gap: 0.8rem;

    @include breakpoint(tablet) {
      display: flex;
      gap: 0;
    }
  }

  &__item {
    flex-shrink: 0;
    width: 100%;

    &:nth-child(5n + 1),
    &:nth-child(5n + 2) {
      grid-column: span 3;
      grid-row: span 5;
    }

    &:nth-child(5n + 3),
    &:nth-child(5n + 4),
    &:nth-child(5n + 5) {
      grid-column: span 2;
      grid-row: span 3;
    }
  }

  &__item-link {
    flex-grow: 1;

    position: relative;
    border-radius: 4rem 4rem 4rem 0;
    overflow: hidden;

    padding: 2.4rem;

    background-color: white;

    @include breakpoint(tablet) {
      min-height: 21.2rem;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6.16%, rgba(0, 0, 0, 0.6) 93.12%);

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__more-block {
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    right: 2.4rem;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;

    text-transform: uppercase;
    @extend %fs-h2;
    font-weight: 700;

    @include breakpoint(tablet) {
      position: static;

      padding: 1.4rem;
      margin-top: 4rem;

      background-color: white;
      border-radius: 0.8rem;
    }

    svg {
      width: 1.2rem;
      height: 1.6rem;
      fill: var(--primary-color);
    }
  }

  &__more-label {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;

    @include breakpoint(tablet) {
      color: var(--primary-color);
    }
  }

  &__more-gigit-block {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 1.8rem;
    background-color: white;
    border-radius: 0.8rem;

    @include breakpoint(tablet) {
      padding: 0;
      border-radius: 0;
    }
  }

  &__more-digit {
    color: var(--primary-color);
  }

  &__pagination {
    display: none;

    @include breakpoint(tablet) {
      display: flex;

      margin: 2rem auto 0;
      width: fit-content;
    }
  }
}