.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  @include breakpoint(tablet) {
    gap: 4rem;
  }

  @include breakpoint(small-tablet) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &__item-image {
    height: 28rem;
    width: 100%;
    object-fit: cover;
    border-radius: 4rem 4rem 4rem 0;

    margin-bottom: 4rem;

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }
  }

  &__item-title {
    margin-bottom: 1rem;

    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
  }

  &__item-text {
    @extend %fs-t1;
    color: #5A5A5A;
  }
}