.quiz {
  &__content-block {
    grid-column: span 7;

    display: grid;
    grid-template-columns: 1fr 23rem;
    gap: 4rem;

    padding: 4rem;

    background: white;
    border-radius: 2.4rem;

    @include breakpoint(desktop) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(tablet) {
      grid-column: span 1;

      grid-template-columns: 1fr 18rem;

      padding: 4rem 2rem;
    }

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    min-width: 0;

    @include breakpoint(tablet) {
      gap: 3rem;
    }
  }

  &__progressbar-block {
    position: relative;
  }

  &__progressbar-label {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }

  &__progressbar {
    margin-top: 1.5rem;

    @include breakpoint(tablet) {
      margin-top: 1rem;
    }
  }

  &__progressbar-fill {
    background-color: #212A2F;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
    height: 0.1rem;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow: visible !important;
  }

  &__step {
    border: none;
    margin: 0;
  }

  &__step-heading {
    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;

    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
      margin-bottom: 1rem;
    }
  }

  &__navigation {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @include breakpoint(desktop) {
      margin-top: 2rem;
    }

    @include breakpoint(mobile) {
      margin-top: 1rem;
    }
  }

  &__step-prev {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.8rem;
    height: 4.8rem;

    background: var(--bg);
    border-radius: 0.8rem;

    &:hover,
    &:focus {
      svg {
        fill: var(--primary-color);
      }
    }

    svg {
      width: 1.2rem;
      height: 1.6rem;

      fill: #212A2F;
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__step-next.swiper-button-disabled {
    display: none;
  }

  &__bonus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    background: linear-gradient(180deg, #FF511B 0%, #FFA41B 100%);
    box-shadow: 0 2rem 4rem rgba(255, 164, 27, 0.4);
    border-radius: 2.4rem 2.4rem 2.4rem 0;

    @include breakpoint(desktop) {
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: stretch;

      box-shadow: 0 1rem 2rem rgba(255, 164, 27, 0.2);
      border-radius: 1.6rem 1.6rem 1.6rem 0;
    }

    @include breakpoint(small-tablet) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__bonus-text-container {
    color: white;
    padding: 0 2.4rem 2.4rem;

    @include breakpoint(desktop) {
      padding: 3rem 2rem;

      order: 1;
    }

    @include breakpoint(tablet) {
      padding: 2rem 1.6rem;

      order: 2;
    }

    @include breakpoint(small-tablet) {
      order: 1;
    }
  }

  &__bonus-image {
    width: 100%;
    height: auto;
    object-fit: contain;

    @include breakpoint(desktop) {
      width: 13.2rem;

      order: 2;
    }

    @include breakpoint(tablet) {
      width: 100%;

      order: 1;
    }

    @include breakpoint(small-tablet) {
      width: 13.2rem;

      order: 2;
    }
  }

  &__bonus-heading {
    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 1.2rem;
  }

  &__bonus-text {
    @extend %fs-t3;
    line-height: 1;

    p {
      margin-bottom: 0.8rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}