.quiz {
  grid-column: span 7;

  display: grid;
  grid-template-columns: 1fr 23rem;
  gap: 4rem;

  padding: 4rem;

  background: white;
  border-radius: 2.4rem;

  @include breakpoint(desktop) {
    grid-template-columns: 1fr;
  }

  @include breakpoint(tablet) {
    grid-column: span 1;

    grid-template-columns: 1fr 18rem;

    padding: 4rem 2rem;
  }

  @include breakpoint(small-tablet) {
    grid-template-columns: 1fr;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    min-width: 0;

    @include breakpoint(tablet) {
      gap: 3rem;
    }
  }

  &__progressbar-block {
    position: relative;

    font-size: 2rem;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }

  &__progressbar-label.hidden {
    display: none;
  }

  &__progressbar-success {
    position: relative;

    display: none;
    padding-left: 3.2rem;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      background-color: var(--secondary-color);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0.9rem;
      top: 50%;
      width: 0.5rem;
      height: 1.1rem;
      border: solid white;
      border-width: 0 0.2rem 0.2rem 0;
      border-radius: 0.1rem;
      transform: translateY(-50%) rotate(45deg);
    }

    &.visible {
      display: block;
    }
  }

  &__progressbar {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.15);

    margin-top: 1.5rem;
    height: 0.1rem;

    @include breakpoint(tablet) {
      margin-top: 1rem;
    }
  }

  &__progressbar-fill {
    display: block;
    background-color: #212A2F;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  &__steps-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__steps {
    position: relative;
  }

  &__step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    border: none;
    margin: 0;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }

  &__step-heading {
    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;

    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
      margin-bottom: 1rem;
    }
  }

  &__navigation {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &.hidden {
      display: none;
    }

    @include breakpoint(desktop) {
      margin-top: 2rem;
    }

    @include breakpoint(mobile) {
      margin-top: 1rem;
      flex-direction: column;
    }
  }

  &__step-prev {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.8rem;
    height: 4.8rem;

    background: var(--bg);
    border-radius: 0.8rem;

    @include breakpoint(mobile) {
      width: 100%;
      order: 2;
    }

    &:hover {
      svg {
        fill: var(--secondary-color);
      }
    }

    svg {
      width: 1.2rem;
      height: 1.6rem;

      fill: #212A2F;
      transform: rotate(180deg);
    }

    &.disabled {
      display: none;
    }
  }

  &__step-next.disabled {
    display: none;

    @include breakpoint(mobile) {
      order: 1;
    }
  }

  &__submit-step {
    margin-top: 4rem;

    @include breakpoint(mobile) {
      margin-top: 3rem;
    }
  }

  &__submit-step-inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__submit-step-bottom {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 4rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }
  }

  &__message {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.visible {
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }

  &__message-label {
    display: block;
    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;

    margin-bottom: 2rem;
  }

  &__bonus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    background: linear-gradient(180deg, #FF511B 0%, #FFA41B 100%);
    box-shadow: 0 2rem 4rem rgba(255, 164, 27, 0.4);
    border-radius: 2.4rem 2.4rem 2.4rem 0;

    @include breakpoint(desktop) {
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: stretch;

      box-shadow: 0 1rem 2rem rgba(255, 164, 27, 0.2);
      border-radius: 1.6rem 1.6rem 1.6rem 0;
    }

    @include breakpoint(small-tablet) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__bonus-text-container {
    color: white;
    padding: 0 2.4rem 2.4rem;

    @include breakpoint(desktop) {
      padding: 3rem 2rem;

      order: 1;
    }

    @include breakpoint(tablet) {
      padding: 2rem 1.6rem;

      order: 2;
    }

    @include breakpoint(small-tablet) {
      order: 1;
    }
  }

  &__bonus-image {
    width: 100%;
    height: auto;
    object-fit: contain;

    @include breakpoint(desktop) {
      width: 13.2rem;

      order: 2;
    }

    @include breakpoint(tablet) {
      width: 100%;

      order: 1;
    }

    @include breakpoint(small-tablet) {
      width: 13.2rem;

      order: 2;
    }
  }

  &__bonus-heading {
    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 1.2rem;
  }

  &__bonus-text {
    @extend %fs-t3;
    line-height: 1;

    p {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.modal {
  .quiz {
    padding: 0;

    @include breakpoint(desktop) {
      grid-template-columns: 1fr 18rem;
    }

    @include breakpoint(tablet) {
      grid-template-columns: 1fr 18rem;
    }

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
    }
  }

  .quiz__bonus {
    @include breakpoint(desktop) {
      flex-direction: column;
      align-items: stretch;
    }

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: stretch;
    }

    @include breakpoint(small-tablet) {
      flex-direction: row;
      align-items: center;
    }
  }
}