.reviews {
  position: relative;
  overflow: hidden;
  margin: 0 -2rem;
  padding: 0 2rem;

  @include breakpoint(desktop) {
    overflow: visible;
  }

  @include breakpoint(tablet) {
    margin: 0;
    padding: 0;
  }

  .navigation {
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 2;

    width: 100%;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  .pagination {
    display: flex;

    margin: 4rem auto 0;
    width: fit-content;

    @include breakpointMF(laptop) {
      display: none;
    }
  }
}