.slider {
  &__slider-block {
    overflow: hidden;
    min-width: 0;

    @include breakpoint(desktop) {
      overflow: visible;
    }
  }

  &__slide {
    user-select: none;
    padding: 3rem;
    background: var(--bg);
    border-radius: 2.4rem;

    flex-grow: 1;

    @include breakpoint(tablet) {
      padding: 2rem;
    }
  }

  &__slide-image-wrapper {
    position: relative;

    overflow: hidden;

    border-radius: 2.4rem 2.4rem 2.4rem 0;
    height: 18rem;
    width: 100%;

    margin-bottom: 3rem;

    background-color: white;

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-title {
    margin-bottom: 1rem;

    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
  }

  &__slide-text {
    @extend %fs-t1;
    color: var(--text-color);
  }

  .pagination {
    display: flex;

    margin: 2rem auto 0;
    width: fit-content;

    @include breakpointMF(laptop) {
      display: none;
    }
  }

  .navigation {
    width: fit-content;

    @include breakpoint(desktop) {
      display: none;
    }
  }
}