.slider {
  &__heading-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.4rem;
  }

  &__buttons {
    display: flex;
    gap: 1.2rem;

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__slider-block {
    overflow: hidden;
    min-width: 0;

    @include breakpoint(desktop) {
      overflow: visible;
    }
  }

  &__slide {
    user-select: none;
    padding: 3rem;
    background: #F5F5F5;
    border-radius: 2.4rem;

    flex-grow: 1;

    @include breakpoint(tablet) {
      padding: 2rem;
    }
  }

  &__slide-image {
    border-radius: 2.4rem 2.4rem 2.4rem 0;
    height: 18rem;
    width: 100%;
    object-fit: cover;

    margin-bottom: 3rem;

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__slide-title {
    margin-bottom: 1rem;

    @extend %fs-h2;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
  }

  &__slide-text {
    @extend %fs-t1;
    color: #5A5A5A;
  }

  &__pagination {
    display: none;

    @include breakpoint(tablet) {
      display: flex;

      margin: 2rem auto 0;
      width: fit-content;
    }
  }
}