.header-menu {
  margin-top: 2.4rem;

  @include breakpoint(tablet) {
    display: none;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;

    background-color: rgba(40, 40, 41, 0.2);

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s 0.3s ease;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;

    z-index: 16;
    gap: 2.8rem;
    justify-content: space-between;
    padding: 0 3.2rem;
    background-color: #fff;
    border-radius: 1.2rem;
    user-select: none;

    &:hover {
      ~.header-menu__overlay {
        opacity: 1;
      }
    }
  }

  &__burger-container {
    align-self: stretch;
    position: relative;
    display: none;
    align-items: center;

    &.active {
      display: flex;
    }

    &:hover {
      .header-menu__burger-list {
        opacity: 1;
        visibility: visible;
      }

      .header-menu__burger>* {
        background-color: var(--secondary-color);
      }
    }
  }

  &__burger {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: #fff;

    &>:nth-child(1) {
      transform: translateY(-0.2rem);
    }

    &>:nth-child(2) {
      transform: translateY(0.2rem);
    }

    &>* {
      display: block;
      width: 2.2rem;
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: #212a2f;
      transition: background-color .3s ease;
    }
  }

  &__burger-list {
    position: absolute;
    top: calc(100% + 0.4rem);
    right: -3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    width: max-content;
    min-width: 40rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s .3s ease, visibility .3s .3s ease;
    padding: 3.2rem 0;
    background-color: #fff;
    border-radius: 1.2rem;
  }

  &__burger-item {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__burger-item-link {
    padding: 0 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;

    &:hover {
      color: var(--secondary-color);
    }
  }

  &__list {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }

  .js-root-menu-item {
    padding-right: 3.2rem;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__item {
    flex-shrink: 0;
    position: relative;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;

    &:hover {
      >.header-menu__item-head {
        color: var(--secondary-color);
      }

      >.header-menu__item-body {
        opacity: 1;
        visibility: visible;
      }
    }

    &.hidden {
      display: none;
    }

    &.js-root-menu-item {
      >.header-menu__item-head svg {
        transition: fill 0.3s ease, transform 0.3s ease;
      }

      &:hover {
        >.header-menu__item-head svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;

    transition: color 0.3s ease;
    cursor: pointer;

    span {
      flex-grow: 1;
    }

    svg {
      width: 0.8rem;
      height: 0.5rem;
    }
  }

  &__item-head-left {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    & > span > span {
      // костыль для бека
      padding: 0.4rem 0.8rem;
      border-radius: 0.6rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #212a2f;
      background-color: #FFD43C;
    }
  }

  &__item-head-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  &__item-head-tag {
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #212a2f;
  }

  &__item-body {
    position: absolute;
    top: calc(100% + 0.4rem);
    left: -3.2rem;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    width: max-content;
    min-width: 40rem;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s 0.3s ease, visibility 0.3s 0.3s ease;

    padding: 3.2rem 0;

    background-color: white;
    border-radius: 1.2rem;

    &.--level-2 {
      >.header-menu__item .header-menu__item-head svg {
        transform: rotate(-90deg);
      }
    }

    &.--level-3 {
      top: -3.2rem;
      left: calc(100% + 0.4rem);
    }

    .header-menu__item {
      padding: 0 3.2rem;
    }
  }
}