<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright-block">
                <div class="footer__copyright">
                    <span>© 2022 ООО «АКАДЕМИЯ КРОВЛИ ТЮМЕНЬ»</span>
                    <span>ОГРН:1197232028641</span>
                </div>
                <a class="footer__policy" href="#" download>Политика конфиденциальности</a>
            </div>
            <div class="footer__contacts-block">
                <a class="footer__phone" href="tel:83452611118">8 345 261-11-18</a>
                <div class="footer__contacts">
                    <span>пн–пт с 9.00 до 18.00 <br> сб с 10.00 до 17.00</span>
                    <span>РФ, г. Тюмень ул. Харьковская 83А <br> кор. 4, этаж 4, оф.409</span>
                </div>
                <a class="footer__email" href="mailto:83452604482@mail.ru">83452604482@mail.ru</a>
            </div>
            <nav class="footer__nav">
                {{#each menu}}
                <a href="#">{{this.name}}</a>
                {{/each}}
            </nav>
            <div class="footer__socials">
                <a class="footer__social" href="#">
                    <svg>
                        <use xlink:href="#soc-ok">
                    </svg>
                </a>
                <a class="footer__social" href="#">
                    <svg>
                        <use xlink:href="#soc-vk">
                    </svg>
                </a>
                <a class="footer__social" href="#">
                    <svg>
                        <use xlink:href="#soc-youtube">
                    </svg>
                </a>
                <a class="footer__social" href="#">
                    <svg>
                        <use xlink:href="#soc-viber">
                    </svg>
                </a>
                <a class="footer__social" href="#">
                    <svg>
                        <use xlink:href="#soc-wa">
                    </svg>
                </a>
                <a class="footer__social" href="#">
                    <svg>
                        <use xlink:href="#soc-tg">
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>