<header class="header" data-toggle="500">
    <div class="container">
        <div class="header__top">
            <a class="header__logo-block" href="#">
                <img class="header__logo lazyload" data-src="img/logo.png" alt="Logo">
                <span class="header__logo-label">Кровля и фасад в Тюмени <br> под ключ</span>
            </a>
            <div class="header__info">
                <span class="header__address">Харьковская 83А/4 офис 520</span>
                <span class="header__time">Пн–Пт 9:00 - 18:00, Сб 10:00 - 18:00</span>
            </div>
            <div class="header__buttons">
                <div class="header__contact-block">
                    <span class="header__contact-heading">Отвечаем онлайн</span>
                    <div class="header__contact-links">
                        <a class="header__contact --viber" href="#" title="Viber">
                            <svg>
                                <use xlink:href="#viber"/>
                            </svg>
                        </a>
                        <a class="header__contact --wa" href="#" title="WA">
                            <svg>
                                <use xlink:href="#wa"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="header__phone-block">
                    <a class="header__phone-link" href="tel:+79323211118" title="Позвонить">+7 932 321-11-18</a>
                    <button class="button" type="button" data-modal="#order" data-block="Шапка">
                        позвоните мне
                    </button>
                </div>
                <button class="header__burger">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        {{> menu/header-menu}}
    </div>
</header>
