<section class="page-section-margin images">
  <div class="container">
    <div class="page-section-grid images__inner">
      <h2 class="page-section-heading images__heading">Несем полную ответственность</h2>
      <ul class="images__list">
        {{#each images.items}}
        <li class="images__item">
          <img src="{{this.image}}" alt="Image" class="images__item-image">
          <h3 class="images__item-title">{{this.title}}</h3>
          <div class="images__item-text">
            <p>{{this.text}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>