<section class="map">
  <div class="container">
    <div class="page-section-wide-content map__inner">
      <div class="map__js-container js-overlay-container js-init-map" data-api="99155e03-fba1-47e8-8e51-62786c760fbc"
        data-initial-longitude="55.774998" data-initial-latitude="37.631900" data-initial-zoom="17"
        data-image="img/map-location.svg">
        <div class="map__overlay js-overlay"></div>
      </div>
    </div>
  </div>
</section>