<section class="marquee">
  <h2 class="visually-hidden">Видео-отзывы</h2>
  <div class="js-marquee">
    <span>Видео-отзывы</span>
    <span>•</span>
    <span>Видео-отзывы</span>
    <span>•</span>
  </div>
</section>