<section class="page-section-margin reviews">
  <div class="container">
    <div class="page-section-grid">
      <h2 class="page-section-heading">Реальные клиенты О нашей работе</h2>
      <div class="page-section-swiper-container">
        <div class="swiper js-reviews-slider reviews__slider">
          <ul class="swiper-wrapper">
            {{#each reviews.items}}
            <li class="swiper-slide">
              <div class="reviews__item">
                <div>
                  <a class="reviews__item-link" href="#">
                    {{#if this.image}}
                    <img class="reviews__item-image lazyload" data-src="{{this.image}}" alt="Review">
                    {{/if}}
                    <div class="reviews__item-play-btn">
                      <svg>
                        <use xlink:href="#play">
                      </svg>
                    </div>
                  </a>

                  <h3 class="reviews__item-heading">{{this.title}}</h3>
                  <span class="reviews__item-label">{{this.label}}</span>
                </div>

                <div class="reviews__item-text">
                  <p>{{this.text}}</p>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          <div class="pagination slider__pagination"></div>
          <div class="reviews__buttons">
            <button class="slider-button --left">
              <svg>
                <use xlink:href="#arrow">
              </svg>
            </button>
            <button class="slider-button --right">
              <svg>
                <use xlink:href="#arrow">
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>