<section class="page-section-margin video">
  <div class="container">
    <div class="page-section-wide-content --grey video__inner">
      <div class="video__text-block">
        <div>
          <h2 class="page-section-heading">Как происходит нарезка кровли?</h2>
          <div class="video__text">
            <p>Узнайте, почему важно сделать замер с точностью до нескольких сантиметров. Даже несколько сантиметров
              могут
              срезультировать в неправильную нарезку элементов и превратить большое количество кровельного материала в
              ненужный мусор</p>
          </div>
        </div>
        <div class="video__manager">
          <img class="video__manager-photo lazyload" data-src="img/content/video-manager.jpg" alt="Manager">
          <div class="video__manager-info">
            <span class="video__manager-name">Снигирев Андрей</span>
            <span class="video__manager-label">Руководитель по строительству</span>
            <a class="button video__manager-button" href="#">Вызвать на бесплатный замер</a>
          </div>
        </div>
        <a class="show-on-mobile button" href="#">Вызвать на бесплатный замер</a>
      </div>
      <a class="video__preview-block" href="#">
        <img class="video__preview-image lazyload" data-src="img/content/video-preview.jpg" alt="Preview">
        <div class="video__play-btn">
          <svg>
            <use xlink:href="#play">
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>