<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Академия Кровли">
    <meta property="og:description" content="Академия Кровли">
    <meta property="og:url" content="https://example.com/">
    <meta property="og:image" content="https://via.placeholder.com/350x150">
    <meta property="og:site_name" content="Академия Кровли">
    <meta property="og:locale" content="ru_RU">

    <link rel="stylesheet" href="css/styles.css" />
    <title>{{title}}</title>
</head>

<body class="no-touch" ontouchstart="">
    <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
        {{> utils/sprite}}
    </div>

    <div class="page-content">
        {{> header}}
        {{> menu/menu}}
        <main class="page-main">
            {{#block "main"}}

            {{/block}}
        </main>
        {{> footer}}
        {{> utils/ie-placeholder}}
        {{> modals/order id="order"}}
        {{> modals/success id="success"}}
        {{> modals/error id="error"}}
        {{> modals/quiz id="quiz"}}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
        <script src="assets/js/backend.js"></script>
    </div>
</body>

</html>