{{!-- Тут баг: для телефонов указан type="text" --}}
<div class="js-validation-wrapper js-init-placeholder form-input {{mod}}">
  <input class="js-input form-input__input {{#if phone}}js-phone-input{{/if}}" {{#if phone}}data-parsley-phone{{/if}}
    type="text" name="{{name}}" autocomplete="off" required>
  <span class="form-input__placeholder">{{placeholder}}</span>
</div>