<div class="mini-video">
  <a class="mini-video__preview-block" href="https://youtu.be/nT14mlv92t4" data-type="iframe" data-preload="false"
    data-fancybox data-caption="{{data.title}}">
    <img class="mini-video__preview lazyload" data-src="img/content/mini-video.jpg" alt="Preview">
    {{> parts/play-button}}
  </a>
  <div class="mini-video__text-block">
    <h3 class="mini-video__heading">{{data.title}}</h3>
    {{#if data.text}}
    <div class="mini-video__text">
      <p>{{data.text}}</p>
    </div>
    {{/if}}
  </div>
</div>