<div class="navigation">
  <button class="slider-button --left">
    <svg>
      <use xlink:href="#arrow"/>
    </svg>
  </button>
  <button class="slider-button --right">
    <svg>
      <use xlink:href="#arrow"/>
    </svg>
  </button>
</div>