<label class="policy-checkbox js-validation-wrapper {{mod}}">
  <div>Я согласен на обработку персональных данных и соглашаюсь с <a href="#" target="_blank">политикой
      конфеденциальности</a></div>
  <input type="checkbox" name="policy" required>
  <span class="policy-checkbox__checkmark"></span>
</label>