<div class="quiz">
    <form class="js-success-message js-quiz-new-tabs loading js-handle-form quiz__form" action="#"
          method="post" name="" novalidate
          data-need-validation>
        <input class="js-quiz-path" type="hidden" name="path" value="">
        <div class="quiz__progressbar-block">
            <span class="quiz__progressbar-label"></span>
            <span class="quiz__progressbar-success">Готово</span>
            <div class="quiz__progressbar">
                <span class="quiz__progressbar-fill"></span>
            </div>
        </div>

        <div class="quiz__steps-block">
            <div class="quiz__steps">

                <!-- start lvl1 -->
                <!-- start Выберите что считаем -->
                <fieldset class="quiz__step" data-level="lvl1" data-index="Выберите что считаем">
                    <legend class="visually-hidden">Выберите что считаем</legend>
                    <h3 class="quiz__step-heading">Выберите что считаем</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="vyberite_chto_schitaem" value="Фасад">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Фасад</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Фасад" data-tab="Выберите материал фасада">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Фасад</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Кровля" data-tab="Выберите материал кровли">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/2.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Кровля</span>
                                </a>
                                <div class="tooltip">
                                    <svg>
                                        <use xlink:href="#tip"/>
                                    </svg>
                                    <div class="tooltip__content">
                                        <h4>542 руб./м²</h4>
                                        <p>Просто текст <a href="#">ссылка</a> <b>жирный текст</b></p>
                                        <ul>
                                            <li>Трехслойный полимер с текстурой и эффектом перелива.</li>
                                            <li>Толщина — 45 мкм.</li>
                                            <li>Матовая поверхность.</li>
                                            <li>9 цветов.</li>
                                            <li>Гарантия на покрытие 40 лет.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="form-radio__list-item-wrapper--wide">
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Еще не определился"
                                   data-tab="У вас есть специалисты для монтажа">
                                    <span class="form-radio__name">Еще не определился</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Выберите что считаем -->
                <!-- end lvl1 -->

                <!-- start lvl2 -->
                <!-- start Выберите материал кровли -->
                <fieldset class="quiz__step" data-level="lvl2" data-index="Выберите материал кровли">
                    <legend class="visually-hidden">Выберите материал кровли</legend>
                    <h3 class="quiz__step-heading">Выберите материал кровли</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="vyberite_material_krovli" value="Металлочерепица">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Металлочерепица</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Металлочерепица"
                                   data-tab="Какая форма металлочерепицы вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Металлочерепица</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Гибкая черепица"
                                   data-tab="Какая форма гибкой черепицы вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Гибкая черепица</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Профнастил" data-tab="Какая форма профнастила вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Профнастил</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Выберите материал кровли -->

                <!-- start Выберите материал фасада -->
                <fieldset class="quiz__step" data-level="lvl2" data-index="Выберите материал фасада">
                    <legend class="visually-hidden">Выберите материал фасада</legend>
                    <h3 class="quiz__step-heading">Выберите материал фасада</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="vyberite_material_fasada" value="Сайдинг виниловый">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Сайдинг виниловый</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Сайдинг виниловый"
                                   data-tab="Какая форма сайдинга вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Сайдинг виниловый</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Сайдинг металлический"
                                   data-tab="Какая форма металлического сайдинга вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Сайдинг металлический</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Фасадная панель" data-tab="Какая текстура фасада вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Фасадная панель</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Фасадная плитка хауберг"
                                   data-tab="Какая форма фасадной плитки вам больше нравится">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Фасадная плитка хауберг</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Выберите материал фасада -->
                <!-- end lvl2 -->

                <!-- start lvl3 -->
                <!-- start Какая форма металлочерепицы вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3"
                          data-index="Какая форма металлочерепицы вам больше нравится"
                          data-next="Выберите покрытие для металлочерепицы">
                    <legend class="visually-hidden">Какая форма металлочерепицы вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая форма металлочерепицы вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_forma_metallocherepicy_vam_bol-she_nravitsya"
                               value="Супермонтерей">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Супермонтерей</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Супермонтерей">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Супермонтерей</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Каскад">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Каскад</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Европа">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Европа</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="МОНТЕРРОСА">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">МОНТЕРРОСА</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="МОНТЕКРИСТО">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">МОНТЕКРИСТО</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="ТРАМОНТАНА">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">ТРАМОНТАНА</span>
                                </a>
                            </li>
                            <li class="form-radio__list-item-wrapper--wide">
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Еще не определился">
                                    <span class="form-radio__name">Еще не определился</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая форма металлочерепицы вам больше нравится -->

                <!-- start Какая форма гибкой черепицы вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3"
                          data-index="Какая форма гибкой черепицы вам больше нравится"
                          data-next="Выберите серию гибкой черепицы">
                    <legend class="visually-hidden">Какая форма гибкой черепицы вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая форма гибкой черепицы вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_forma_gibkoj_cherepicy_vam_bol-she_nravitsya"
                               value="КОЛЛЕКЦИЯ ЗУБ ДРАКОНА">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">КОЛЛЕКЦИЯ ЗУБ ДРАКОНА</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="КОЛЛЕКЦИЯ ЗУБ ДРАКОНА">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">КОЛЛЕКЦИЯ ЗУБ ДРАКОНА</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="КОЛЛЕКЦИЯ СОТА">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">КОЛЛЕКЦИЯ СОТА</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="КОЛЛЕКЦИЯ ТЕТРИС">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">КОЛЛЕКЦИЯ ТЕТРИС</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="КОЛЛЕКЦИЯ КРОНА">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">КОЛЛЕКЦИЯ КРОНА</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая форма гибкой черепицы вам больше нравится -->

                <!-- start Какая форма профнастила вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3" data-index="Какая форма профнастила вам больше нравится"
                          data-next="Примерная площадь вашей крыши">
                    <legend class="visually-hidden">Какая форма профнастила вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая форма профнастила вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_forma_profnastila_vam_bol-she_nravitsya"
                               value="Профнастил С-15">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Профнастил С-15</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Профнастил С-15">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Профнастил С-15</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#"
                                   data-value="Профнастил С-18">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Профнастил С-18</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Профнастил Н-20">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Профнастил Н-20</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Профнастил НС-35">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Профнастил НС-35</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая форма профнастила вам больше нравится -->

                <!-- start Какая форма сайдинга вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3" data-index="Какая форма сайдинга вам больше нравится"
                          data-next="Выберите покрытие для сайдинга">
                    <legend class="visually-hidden">Какая форма сайдинга вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая форма сайдинга вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_forma_sajdinga_vam_bol-she_nravitsya"
                               value="Корабельный брус">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Корабельный брус</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Корабельный брус">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Корабельный брус</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#"
                                   data-value="Елочка">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Елочка</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Бревно">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Бревно</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Брус">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Брус</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая форма сайдинга вам больше нравится -->

                <!-- start Какая форма металлического сайдинга вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3"
                          data-index="Какая форма металлического сайдинга вам больше нравится"
                          data-next="Выберите покрытие для сайдинга">
                    <legend class="visually-hidden">Какая форма металлического сайдинга вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая форма металлического сайдинга вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_forma_metallicheskogo_sajdinga_vam_bol-she_nravitsya"
                               value="Корабельный брус">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Корабельный брус</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Корабельный брус">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Корабельный брус</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Бревно">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Бревно</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Брус">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Брус</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая форма металлического сайдинга вам больше нравится -->

                <!-- start Какая текстура фасада вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3" data-index="Какая текстура фасада вам больше нравится"
                          data-next="Фасад дома требует утепления">
                    <legend class="visually-hidden">Какая текстура фасада вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая текстура фасада вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_tekstura_fasada_vam_bol-she_nravitsya"
                               value="Кирпич">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Кирпич</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Кирпич">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Кирпич</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Плитняк">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Плитняк</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Мраморный камень">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Мраморный камень</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Тесаный камень">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тесаный камень</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Сланец">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Сланец</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Клинкер">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Клинкер</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая текстура фасада вам больше нравится -->

                <!-- start Какая форма фасадной плитки вам больше нравится -->
                <fieldset class="quiz__step" data-level="lvl3"
                          data-index="Какая форма фасадной плитки вам больше нравится"
                          data-next="Фасад дома требует утепления">
                    <legend class="visually-hidden">Какая форма фасадной плитки вам больше нравится?</legend>
                    <h3 class="quiz__step-heading">Какая форма фасадной плитки вам больше нравится?</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="kakaya_forma_fasadnoj_plitki_vam_bol-she_nravitsya"
                               value="Камень">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Камень</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Камень">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Камень</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Кирпич">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Кирпич</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Какая форма фасадной плитки вам больше нравится -->
                <!-- end lvl3 -->

                <!-- start lvl4 -->
                <!-- start Выберите покрытие для металлочерепицы -->
                <fieldset class="quiz__step" data-level="lvl4" data-index="Выберите покрытие для металлочерепицы"
                          data-next="Примерная площадь вашей крыши">
                    <legend class="visually-hidden">Выберите покрытие для металлочерепицы</legend>
                    <h3 class="quiz__step-heading">Выберите покрытие для металлочерепицы</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="vyberite_pokrytie_dlya_metallocherepicy" value="Полиэстер">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Полиэстер</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Полиэстер">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Полиэстер</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="VikingMP® Е">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">VikingMP® Е</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="PURETAN®">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">PURETAN®</span>
                                </a>
                            </li>
                            <li class="form-radio__list-item-wrapper--empty">
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Еще не определился">
                                    <div class="form-radio__image-wrapper"></div>
                                    <span class="form-radio__name">Еще не определился</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Выберите покрытие для металлочерепицы -->

                <!-- start Выберите серию гибкой черепицы -->
                <fieldset class="quiz__step" data-level="lvl4" data-index="Выберите серию гибкой черепицы"
                          data-next="Примерная площадь вашей крыши">
                    <legend class="visually-hidden">Выберите серию гибкой черепицы</legend>
                    <h3 class="quiz__step-heading">Выберите серию гибкой черепицы</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="vyberite_seriyu_gibkoj_cherepicy" value="DÖCKE PIE СЕРИЯ EURASIA">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">DÖCKE PIE СЕРИЯ EURASIA</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="DÖCKE PIE СЕРИЯ EURASIA">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">DÖCKE PIE СЕРИЯ EURASIA</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="DÖCKE PIE СЕРИЯ EUROPA">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">DÖCKE PIE СЕРИЯ EUROPA</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="DÖCKE PIE СЕРИЯ STANDARD">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">DÖCKE PIE СЕРИЯ STANDARD</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="DÖCKE PIE СЕРИЯ PREMIUM">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">DÖCKE PIE СЕРИЯ PREMIUM</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Выберите серию гибкой черепицы -->

                <!-- start Выберите покрытие для сайдинга -->
                <fieldset class="quiz__step" data-level="lvl4" data-index="Выберите покрытие для сайдинга"
                          data-next="Фасад дома требует утепления">
                    <legend class="visually-hidden">Выберите покрытие для сайдинга</legend>
                    <h3 class="quiz__step-heading">Выберите покрытие для сайдинга</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="vyberite_pokrytie_dlya_sajdinga" value="Окрашенный">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Окрашенный</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Окрашенный">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Окрашенный</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Структура дерева">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Структура дерева</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Выберите покрытие для сайдинга -->
                <!-- end lvl4 -->

                <!-- start lvl5 -->
                <!-- start Примерная площадь вашей крыши -->
                <fieldset class="quiz__step" data-level="lvl5" data-index="Примерная площадь вашей крыши"
                          data-next="С какой целью приобретаете материал">
                    <legend class="visually-hidden">Примерная площадь вашей крыши</legend>
                    <h3 class="quiz__step-heading">Примерная площадь вашей крыши</h3>
                    <div class="js-range-slider range-slider" data-min="10" data-max="600" data-step="1">
                        <input type="hidden" name="primernaya_ploschad-_vashej_kryshi" value="10:300">
                        <div class="range-slider__slider"></div>
                        <div class="range-slider__labels">
                            <span class="range-slider__label">10 м²</span>
                            <span class="range-slider__label">600 м²</span>
                        </div>
                    </div>
                </fieldset>
                <!-- end Примерная площадь вашей крыши -->

                <!-- start Фасад дома требует утепления -->
                <fieldset class="quiz__step" data-level="lvl5" data-index="Фасад дома требует утепления"
                          data-next="Примерная площадь вашего фасада">
                    <legend class="visually-hidden">Фасад дома требует утепления?</legend>
                    <h3 class="quiz__step-heading">Фасад дома требует утепления?</h3>
                    <div class="js-form-radio form-radio">
                        <input type="hidden" name="fasad_doma_trebuet_utepleniya"
                               value="Да планируем утеплять">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <span class="form-radio__select-label">Да планируем утеплять</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Да планируем утеплять">
                                    <span class="form-radio__name">Да планируем утеплять</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Без утепления">
                                    <span class="form-radio__name">Без утепления</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end Фасад дома требует утепления -->
                <!-- end lvl5 -->

                <!-- start lvl6 -->
                <!-- start С какой целью приобретаете материал -->
                <fieldset class="quiz__step" data-level="lvl6" data-index="С какой целью приобретаете материал"
                          data-next="У вас есть специалисты для монтажа">
                    <legend class="visually-hidden">С какой целью приобретаете материал?</legend>
                    <h3 class="quiz__step-heading">С какой целью приобретаете материал?</h3>
                    <div class="js-form-radio form-radio">
                        <input type="hidden" name="s_kakoj_cel-yu_priobretaete_material"
                               value="Строительство новой крыши">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <span class="form-radio__select-label">Строительство новой крыши</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Строительство новой крыши">
                                    <span class="form-radio__name">Строительство новой крыши</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Строительство новой крыши">
                                    <span class="form-radio__name">Строительство новой крыши</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Ремонт кровли">
                                    <span class="form-radio__name">Ремонт кровли</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end С какой целью приобретаете материал -->

                <!-- start Примерная площадь вашего фасада -->
                <fieldset class="quiz__step" data-level="lvl6" data-index="Примерная площадь вашего фасада"
                          data-next="У вас есть специалисты для монтажа">
                    <legend class="visually-hidden">Примерная площадь вашего фасада</legend>
                    <h3 class="quiz__step-heading">Примерная площадь вашего фасада</h3>
                    <div class="js-range-slider range-slider" data-min="10" data-max="600" data-step="1">
                        <input type="hidden" name="primernaya_ploschad-_vashego_fasada" value="10:300">
                        <div class="range-slider__slider"></div>
                        <div class="range-slider__labels">
                            <span class="range-slider__label">10 м²</span>
                            <span class="range-slider__label">600 м²</span>
                        </div>
                    </div>
                </fieldset>
                <!-- end Примерная площадь вашего фасада -->
                <!-- end lvl6 -->

                <!-- start lvl7 -->
                <!-- start У вас есть специалисты для монтажа -->
                <fieldset class="quiz__step" data-level="lvl7" data-index="У вас есть специалисты для монтажа"
                          data-next="Как с вами связаться">
                    <legend class="visually-hidden">У вас есть специалисты для монтажа?</legend>
                    <h3 class="quiz__step-heading">У вас есть специалисты для монтажа?</h3>
                    <div class="js-form-radio form-radio">
                        <input type="hidden" name="u_vas_est-_specialisty_dlya_montazha" value="Нужен только материал">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <span class="form-radio__select-label">Нужен только материал</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Нужен только материал">
                                    <span class="form-radio__name">Нужен только материал</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#"
                                   data-value="Хочу комплексную услугу, материалы и монтаж">
                                    <span class="form-radio__name">Хочу комплексную услугу, материалы и монтаж</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <!-- end У вас есть специалисты для монтажа -->
                <!-- end lvl7 -->

                <!-- start lvl8 -->
                <!-- start Как с вами связаться -->
                <fieldset class="quiz__step" data-level="lvl8" data-index="Как с вами связаться">
                    <legend class="visually-hidden">Как с вами связаться?</legend>
                    <h3 class="quiz__step-heading">Как с вами связаться?</h3>
                    <div class="quiz__submit-step">
                        <div class="quiz__submit-step-inputs">
                            <div class="js-validation-wrapper js-init-placeholder form-input">
                                <input class="js-input form-input__input" type="text" name="name" autocomplete="off"
                                       required>
                                <span class="form-input__placeholder">ваше Фамилия Имя отчество</span>
                            </div>
                            <div class="js-validation-wrapper js-init-placeholder form-input">
                                <input class="js-input form-input__input js-phone-input" data-parsley-phone type="text"
                                       name="phone" autocomplete="off" required>
                                <span class="form-input__placeholder">Телефон для связи</span>
                            </div>
                        </div>
                        <div class="quiz__submit-step-bottom">
                            <label class="policy-checkbox js-validation-wrapper --dark">
                                <div>Я согласен на обработку персональных данных и соглашаюсь с<a href="#"
                                                                                                  target="_blank">политикой
                                    конфеденциальности</a>
                                </div>
                                <input type="checkbox" name="policy" required>
                                <span class="policy-checkbox__checkmark"></span>
                            </label>
                            <button class="button js-submit-form" type="submit">Отправить</button>
                        </div>
                    </div>
                </fieldset>
                <!-- end Как с вами связаться -->
                <!-- end lvl8 -->

                <div class="quiz__message --success">
                    <span class="quiz__message-label">
                        Спасибо, ваша заявка отправлена! Мы свяжемся с вами в самое ближайшее время.
                    </span>
                    <button class="button --transparent" type="button">Сделать новый расчет</button>
                </div>

            </div>
            <div class="quiz__navigation">
                <button class="quiz__step-prev disabled" type="button">
                    <svg>
                        <use xlink:href="#arrow"/>
                    </svg>
                </button>
                <button class="button quiz__step-next" type="button">Продолжить</button>
            </div>
        </div>

    </form>
    <div class="quiz__bonus">
        <img class="quiz__bonus-image lazyload" data-src="img/content/bonus.png"
             alt="Quiz Bonus">
        <div class="quiz__bonus-text-container">
            <h3 class="quiz__bonus-heading">В подарок:</h3>
            <div class="quiz__bonus-text">
                <p>Предварительная смета</p>
                <p>Скидка 5 % не на словах отразим смете</p>
            </div>
        </div>
    </div>
</div>