<div class="quiz">
    <form class="js-success-message js-quiz-new-tabs loading js-handle-form quiz__form" action="#"
          method="post" name="" novalidate
          data-need-validation>
        <input class="js-quiz-path" type="hidden" name="path" value="">
        <div class="quiz__progressbar-block">
            <span class="quiz__progressbar-label"></span>
            <span class="quiz__progressbar-success">Готово</span>
            <div class="quiz__progressbar">
                <span class="quiz__progressbar-fill"></span>
            </div>
        </div>

        <div class="quiz__steps-block">
            <div class="quiz__steps">

                <fieldset class="quiz__step" data-level="root" data-index="Выберите что считаем">
                    <legend class="visually-hidden">Выберите что считаем</legend>
                    <h3 class="quiz__step-heading">Выберите что считаем</h3>
                    <div class="js-form-radio form-radio ">
                        <input type="hidden" name="type" value="Фасад">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-small-wrapper">
                                    <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                         alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Фасад</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron"/>
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#"
                                   data-value="Фасад" data-tab="Выберите материал крыши">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/1.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Фасад</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Кровля" data-tab="Выберите материал крыши">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/2.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Кровля</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#"
                                   data-value="Тултип" data-tab="Кровля">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/quiz/2.jpg"
                                             alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тултип</span>
                                </a>
                                <div class="tooltip">
                                    <svg>
                                        <use xlink:href="#tip"/>
                                    </svg>
                                    <div class="tooltip__content">
                                        <h4>542 руб./м²</h4>
                                        <p>Просто текст <a href="#">ссылка</a> <b>жирный текст</b></p>
                                        <ul>
                                            <li>Трехслойный полимер с текстурой и эффектом перелива.</li>
                                            <li>Толщина — 45 мкм.</li>
                                            <li>Матовая поверхность.</li>
                                            <li>9 цветов.</li>
                                            <li>Гарантия на покрытие 40 лет.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="form-radio__list-item-wrapper--empty">
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Еще не определился" data-tab="Как с вами связаться?">
                                    <div class="form-radio__image-wrapper"></div>
                                    <span class="form-radio__name">Еще не определился</span>
                                </a>
                            </li>
                            <li class="form-radio__list-item-wrapper--wide">
                                <a class="js-button form-radio__item " href="#"
                                   data-value="Еще не определился на всю ширину" data-tab="Как с вами связаться?">
                                    <span class="form-radio__name">Еще не определился на всю ширину</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="lvl2" data-index="Выберите материал крыши" data-next="Выберите тип крыши">
                    <legend class="visually-hidden">Выберите материал крыши</legend>
                    <h3 class="quiz__step-heading">Выберите материал крыши</h3>
                    <div class="js-form-radio form-radio">
                        <input type="hidden" name="material" value="Металлочерепица">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <span class="form-radio__select-label">Металлочерепица</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron" />
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#" data-value="Металлочерепица">
                                    <span class="form-radio__name">Металлочерепица</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Гибкая черепица">
                                    <span class="form-radio__name">Гибкая черепица</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Профнастил">
                                    <span class="form-radio__name">Профнастил</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Точно не знаю">
                                    <span class="form-radio__name">Точно не знаю</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="lvl3" data-index="Выберите тип крыши" data-next="Укажите примерный метраж крыши">
                    <legend class="visually-hidden">Выберите тип крыши</legend>
                    <h3 class="quiz__step-heading">Выберите тип крыши</h3>
                    <div class="js-form-radio form-radio --images-in-select">
                        <input type="hidden" name="roof" value="Тип 1">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-wrapper">
                                    <img class="lazyload" data-src="img/content/roofs/1.svg" alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Тип 1</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron" />
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#" data-value="Тип 1">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/1.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 1</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 2">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/2.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 2</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 3">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/3.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 3</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 4">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/4.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 4</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 5">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/5.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 5</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 6">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/6.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 6</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 7">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/7.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 7</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 8">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/8.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 8</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 9">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/9.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 9</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 10">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/10.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 10</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 11">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/11.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 11</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 12">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/12.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 12</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 13">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/13.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 13</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="lvl3" data-index="Выберите тип крыши (тест)" data-next="Укажите примерный метраж крыши">
                    <legend class="visually-hidden">Выберите тип крыши (тест)</legend>
                    <h3 class="quiz__step-heading">Выберите тип крыши (тест)</h3>
                    <div class="js-form-radio form-radio --small-images">
                        <input type="hidden" name="roof-test" value="Тип 1">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <div class="form-radio__select-image-wrapper">
                                    <img class="lazyload" data-src="img/content/roofs/1.svg" alt="Quiz">
                                </div>
                                <span class="form-radio__select-label">Тип 1</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron" />
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#" data-value="Тип 1">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/1.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 1</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 2">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/2.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 2</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 3">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/3.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 3</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 4">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/4.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 4</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 5">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/5.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 5</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 6">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/6.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 6</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 7">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/7.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 7</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 8">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/8.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 8</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 9">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/9.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 9</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 10">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/10.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 10</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 11">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/11.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 11</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 12">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/12.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 12</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Тип 13">
                                    <div class="form-radio__image-wrapper">
                                        <img class="lazyload" data-src="img/content/roofs/13.svg" alt="Quiz">
                                    </div>
                                    <span class="form-radio__name">Тип 13</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="lvl4" data-index="Укажите примерный метраж крыши" data-next="Нужны ли работы по монтажу?">
                    <legend class="visually-hidden">Укажите примерный метраж крыши</legend>
                    <h3 class="quiz__step-heading">Укажите примерный метраж крыши</h3>
                    <div class="js-range-slider range-slider" data-min="10" data-max="600" data-step="1">
                        <input type="hidden" name="square" value="10:300">
                        <div class="range-slider__slider"></div>
                        <div class="range-slider__labels">
                            <span class="range-slider__label">10 м²</span>
                            <span class="range-slider__label">600 м²</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="lvl5" data-index="Нужны ли работы по монтажу?" data-next="Выберите подарок">
                    <legend class="visually-hidden">Нужны ли работы по монтажу?</legend>
                    <h3 class="quiz__step-heading">Нужны ли работы по монтажу?</h3>
                    <div class="js-form-radio form-radio">
                        <input type="hidden" name="mounting" value="Да, конечно">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <span class="form-radio__select-label">Да, конечно</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron" />
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#" data-value="Да, конечно">
                                    <span class="form-radio__name">Да, конечно</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Нет, попробую сделать самостоятельно">
                                    <span class="form-radio__name">Нет, попробую сделать самостоятельно</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="gift" data-index="Выберите подарок" data-next="Как с вами связаться?">
                    <legend class="visually-hidden">Выберите подарок</legend>
                    <h3 class="quiz__step-heading">Выберите подарок</h3>
                    <div class="js-form-radio form-radio">
                        <input type="hidden" name="gift" value="Предварительная смета">
                        <button class="form-radio__select" type="button">
                            <div class="form-radio__select-label-wrapper">
                                <span class="form-radio__select-label">Предварительная смета</span>
                            </div>
                            <svg>
                                <use xlink:href="#chevron" />
                            </svg>
                        </button>
                        <ul class="form-radio__list">
                            <li>
                                <a class="js-button form-radio__item active" href="#" data-value="Предварительная смета">
                                    <span class="form-radio__name">Предварительная смета</span>
                                </a>
                            </li>
                            <li>
                                <a class="js-button form-radio__item" href="#" data-value="Скидка 5% в итоговой смете">
                                    <span class="form-radio__name">Скидка 5% в итоговой смете</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </fieldset>

                <fieldset class="quiz__step" data-level="end" data-index="Как с вами связаться?">
                    <legend class="visually-hidden">Как с вами связаться?</legend>
                    <h3 class="quiz__step-heading">Как с вами связаться?</h3>
                    <div class="quiz__submit-step">
                        <div class="quiz__submit-step-inputs">
                            <div class="js-validation-wrapper js-init-placeholder form-input">
                                <input class="js-input form-input__input" type="text" name="name" autocomplete="off" required>
                                <span class="form-input__placeholder">ваше Фамилия Имя отчество</span>
                            </div>
                            <div class="js-validation-wrapper js-init-placeholder form-input">
                                <input class="js-input form-input__input js-phone-input" data-parsley-phone type="text" name="phone" autocomplete="off" required>
                                <span class="form-input__placeholder">Телефон для связи</span>
                            </div>
                        </div>
                        <div class="quiz__submit-step-bottom">
                            <label class="policy-checkbox js-validation-wrapper --dark">
                                <div>Я согласен на обработку персональных данных и соглашаюсь с<a href="#" target="_blank">политикой конфеденциальности</a>
                                </div>
                                <input type="checkbox" name="policy" required>
                                <span class="policy-checkbox__checkmark"></span>
                            </label>
                            <button class="button js-submit-form" type="submit">Отправить</button>
                        </div>
                    </div>
                </fieldset>

                <div class="quiz__message --success">
                    <span class="quiz__message-label">
                        Спасибо, ваша заявка отправлена! Мы свяжемся с вами в самое ближайшеевремя.
                    </span>
                    <button class="button --transparent" type="button">Сделать новый расчет
                    </button>
                </div>

            </div>
            <div class="quiz__navigation">
                <button class="quiz__step-prev disabled" type="button">
                    <svg>
                        <use xlink:href="#arrow"/>
                    </svg>
                </button>
                <button class="button quiz__step-next" type="button">Продолжить</button>
            </div>
        </div>
 
    </form>
    <div class="quiz__bonus">
        <img class="quiz__bonus-image lazyload" data-src="img/content/bonus.png"
             alt="Quiz Bonus">
        <div class="quiz__bonus-text-container">
            <h3 class="quiz__bonus-heading">В подарок:</h3>
            <div class="quiz__bonus-text">
                <p>Предварительная смета</p>
                <p>Скидка 5 % не на словах отразим смете</p>
            </div>
        </div>
    </div>
</div>