<div class="quiz">
  <form class="js-success-message js-quiz-tabs js-handle-form quiz__form" action="#" method="post" name="" novalidate
    data-need-validation>
    <div class="quiz__progressbar-block">
      <span class="quiz__progressbar-label">Шаг 1 из 8</span>
      <span class="quiz__progressbar-success">Готово</span>
      <div class="quiz__progressbar">
        <span class="quiz__progressbar-fill" style="transform: translateX(-87.5%);"></span>
      </div>
    </div>

    <div class="quiz__steps-block">
      <div class="quiz__steps">
        {{#each data.steps}}
        <fieldset class="quiz__step {{#if this.active}}active{{/if}}">
          <legend class="visually-hidden">{{this.title}}</legend>
          <h3 class="quiz__step-heading">{{this.title}}</h3>
          {{#if this.formRadio}}
          {{> parts/form-radio data=this.formRadio}}
          {{/if}}
          {{#if this.rangeSlider}}
          {{> parts/range-slider data=this.rangeSlider}}
          {{/if}}
        </fieldset>
        {{/each}}
        <fieldset class="quiz__step">
          <legend class="visually-hidden">Как с вами связаться?</legend>
          <h3 class="quiz__step-heading">Как с вами связаться?</h3>
          <div class="quiz__submit-step">
            <div class="quiz__submit-step-inputs">
              {{> parts/form-input name="name" placeholder="ваше Фамилия Имя отчество"}}
              {{> parts/form-input name="phone" placeholder="Телефон для связи" phone=true}}
            </div>
            <div class="quiz__submit-step-bottom">
              {{> parts/policy-checkbox mod="--dark"}}
              <button class="button js-submit-form" type="submit">Отправить</button>
            </div>
          </div>
        </fieldset>

        <div class="quiz__message --success">
          <span class="quiz__message-label">Спасибо, ваша заявка отправлена! Мы свяжемся с вами в самое ближайшее
            время.</span>
          <button class="button --transparent" type="button">Сделать новый расчет</button>
        </div>

      </div>
      <div class="quiz__navigation">
        <button class="quiz__step-prev disabled" type="button">
          <svg>
            <use xlink:href="#arrow"/>
          </svg>
        </button>
        <button class="button quiz__step-next" type="button">Продолжить</button>
      </div>
    </div>

  </form>
  <div class="quiz__bonus">
    <img class="quiz__bonus-image lazyload" data-src="img/content/bonus.png" alt="Quiz Bonus">
    <div class="quiz__bonus-text-container">
      <h3 class="quiz__bonus-heading">В подарок:</h3>
      <div class="quiz__bonus-text">
        <p>Предварительная смета</p>
        <p>Скидка 5 % не на словах отразим смете</p>
      </div>
    </div>
  </div>
</div>