<div class="review-card">
  <div>
    <a class="review-card__link" href="https://youtu.be/nT14mlv92t4" data-type="iframe" data-preload="false"
      data-fancybox="reviews" data-caption="Как происходит нарезка кровли?">
      {{#if data.image}}
      <img class="review-card__image lazyload" data-src="{{data.image}}" alt="Review">
      {{/if}}
      <div class="review-card__play-btn">
        <svg>
          <use xlink:href="#play">
        </svg>
      </div>
    </a>

    <h3 class="review-card__heading">{{data.title}}</h3>
    <span class="review-card__label">{{data.label}}</span>
  </div>

  <div class="review-card__text">
    <p>{{data.text}}</p>
  </div>
</div>