{{#extend "modal"}}
{{#content "content"}}
<div class="form-message">
  <h2 class="form-message__title">При отправке формы возникла ошибка</h2>
  <span class="form-message__label">Попробуйте ещё раз</span>
  <button class="button --transparent" data-hystclose>Вернуться к форме</button>
</div>
{{/content}}
{{/extend}}