{{#extend "modal"}}
{{#content "content"}}
<div class="modal__heading-block">
  <h2 class="modal__heading">Заказать звонок</h2>
  <span class="modal__heading-label">Мы перезвоним Вам в течении 15 минут</span>
</div>
<form class="modal__form" action="" method="post" name="" novalidate>
  <div class="modal__inputs">
    {{> parts/form-input name="name" placeholder="ваше Фамилия Имя отчество"}}
    {{> parts/form-input name="phone" placeholder="Телефон для связи"}}
  </div>
  <div class="modal__form-bottom">
    {{> parts/policy-checkbox mod="--dark"}}
    <a class="button" href="#">Отправить</a>
  </div>
</form>

{{/content}}
{{/extend}}