{{#extend "modal"}}
{{#content "content"}}
<div class="form-message">
  <h2 class="form-message__title">Спасибо, ваша заявка
    отправлена!</h2>
  <span class="form-message__label">Мы свяжемся с вами в самое ближайшее время</span>
  <button class="button --transparent" data-hystclose>Отправить еще заявку</button>
</div>
{{/content}}
{{/extend}}