{{#extend "section"}}
{{#content "heading-content"}}

{{/content}}

{{#content "content"}}
<div class="js-init-mobile-slider swiper benefits">
  <ul class="swiper-wrapper benefits__list">
    {{#each data.items}}
    <li class="swiper-slide benefits__item">
      <div class="benefits__item-image-wrapper">
        <img class="benefits__item-image lazyload" data-src="{{this.image}}" alt="Benefit">
      </div>
      <h3 class="benefits__item-title">{{this.title}}</h3>
      <div class="benefits__item-text">
        <p>{{this.text}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="pagination benefits__pagination"></div>
  <button class="button benefits__button" type="button" data-modal="#order" data-block="Преимущества">
    {{data.buttonLabel}}
  </button>
</div>
{{/content}}
{{/extend}}