{{#extend "section"}}
{{#content "heading-content"}}

{{/content}}

{{#content "content"}}
<ul class="images">
  {{#each data.items}}
  <li>
    <div class="images__image-wrapper">
      {{#if this.image}}
      <img class="lazyload" data-src="{{this.image}}" alt="Image">
      {{/if}}
    </div>
    <h3 class="images__title">{{this.title}}</h3>
    <div class="images__text">
      <p>{{this.text}}</p>
    </div>
  </li>
  {{/each}}
</ul>
{{/content}}
{{/extend}}