{{#extend "section"}}
{{#content "heading-content"}}

{{/content}}

{{#content "content"}}
<ul class="images">
  {{#each data.items}}
  <li>
    <img class="images__item-image lazyload" data-src="{{this.image}}" alt="Image">
    <h3 class="images__item-title">{{this.title}}</h3>
    <div class="images__item-text">
      <p>{{this.text}}</p>
    </div>
  </li>
  {{/each}}
</ul>
{{/content}}
{{/extend}}