<section class="marquee">
  <h2 class="visually-hidden">Видео-отзывы</h2>
  <div class="js-marquee" data-speed="{{data.speed}}">
    <div class="marquee__text-block">
      <span>Видео-отзывы</span>
      <span>•</span>
    </div>
  </div>
</section>