{{#extend "section"}}
{{#content "heading-content"}}
{{> parts/mini-video data=data.video}}
{{/content}}

{{#content "content"}}
<form class="messenger-form" action="/" method="post" name="" novalidate>
  <div class="messenger-form__heading-block">
    <h3 class="messenger-form__heading">{{data.form.title}}</h3>
    <span class="messenger-form__heading-label">{{data.form.label}}/span>
  </div>
  <div class="messenger-form__inputs">
    {{> parts/form-input name="name" placeholder="Ваше имя" mod="--green"}}
    {{> parts/form-input name="phone" placeholder="Ваш номер и мессенджер куда отправить" phone="true" mod="--green"}}
  </div>
  <div class="messenger-form__bottom">
    {{> parts/policy-checkbox}}
    <a class="button --white" href="#">Отправить</a>
  </div>
</form>
{{/content}}
{{/extend}}