{{#extend "section"}}
{{#content "heading-content"}}
{{> parts/manager data=data.manager}}
{{/content}}

{{#content "content"}}
<div class="quiz__content-block">
  <form class="js-quiz-tabs quiz__form" name="quiz" action="#" method="post">
    <div class="quiz__progressbar-block">
      <span class="quiz__progressbar-label">Шаг 1 из 5</span>
      <div class="quiz__progressbar">
      </div>
    </div>

    <div class="swiper quiz__steps">
      <div class="swiper-wrapper">
        {{#each data.steps}}
        <fieldset class="swiper-slide quiz__step">
          <legend class="visually-hidden">{{this.title}}</legend>
          <h3 class="quiz__step-heading">{{this.title}}</h3>
          {{> parts/form-radio data=this.formRadio}}
        </fieldset>
        {{/each}}
      </div>
      <div class="quiz__navigation">
        <button class="quiz__step-prev" type="button">
          <svg>
            <use xlink:href="#arrow">
          </svg>
        </button>
        <button class="button quiz__step-next" type="button">Продолжить</button>
      </div>
    </div>

  </form>
  <div class="quiz__bonus">
    <img class="quiz__bonus-image lazyload" data-src="img/content/bonus.png" alt="Quiz Bonus">
    <div class="quiz__bonus-text-container">
      <h3 class="quiz__bonus-heading">В подарок:</h3>
      <div class="quiz__bonus-text">
        <p>Предварительная смета</p>
        <p>Скидка 5 % не на словах отразим смете</p>
      </div>
    </div>
  </div>
</div>
{{/content}}
{{/extend}}