{{#extend "section"}}
{{#content "content"}}
<div class="swiper js-reviews-slider reviews">
  <ul class="swiper-wrapper">
    {{#each data.items}}
    <li class="swiper-slide">
      {{> parts/review-card data=this}}
    </li>
    {{/each}}
  </ul>
  {{> parts/pagination}}
  {{> parts/navigation}}
</div>
{{/content}}
{{/extend}}