{{#extend "section"}}
{{#content "heading-content"}}
{{> parts/navigation}}
{{/content}}

{{#content "content"}}
<div class="slider__slider-block">
  <div class="swiper">
    <ul class="swiper-wrapper">
      {{#each data.items}}
      <li class="swiper-slide">
        <div class="slider__slide">
          <div class="slider__slide-image-wrapper">
            {{#if this.image}}
            <img class="lazyload" data-src="{{this.image}}" alt="Image">
            {{/if}}
          </div>
          <h3 class="slider__slide-title">{{this.title}}</h3>
          <div class="slider__slide-text">
            <p>{{this.text}}</p>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{> parts/pagination}}
  </div>
</div>
{{/content}}
{{/extend}}