{{#extend "section"}}
{{#content "heading-content"}}

{{/content}}

{{#content "content"}}
<ul class="stock">
  {{#each data.items}}
  <li class="stock__item">
    <img class="stock__item-image lazyload" data-src="{{this.image}}" alt="Stock">
    <div class="stock__item-text">
      <h3 class="stock__item-title">{{this.title}}</h3>
      <span class="stock__item-label">{{this.label}}</span>
    </div>
  </li>
  {{/each}}
</ul>
{{/content}}
{{/extend}}