{{#extend "section"}}
{{#content "heading-content"}}
{{> parts/manager data=data.manager}}
{{/content}}

{{#content "content"}}
<a class="video" href="https://youtu.be/nT14mlv92t4" data-type="iframe" data-preload="false" data-fancybox
  data-caption="Как происходит нарезка кровли?">
  <img class="video__preview lazyload" data-src="img/content/video-preview.jpg" alt="Preview">
  {{> parts/play-button}}
</a>
{{/content}}
{{/extend}}