.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 99;
  visibility: hidden;

  &.hystmodal--active {
    opacity: 1;

    .modal__window {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.hystmodal--moved,
  &.hystmodal--active {
    pointer-events: auto;
    visibility: visible;
  }

  &__wrapper {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
      justify-content: flex-end;
    }
  }

  &__window {
    margin: 5rem var(--content-padding);
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    background: white;
    max-width: calc(87rem);
    width: 100%;
    padding: 6rem;
    border-radius: 4rem;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0;

    @media screen and(max-width: 990px) {
      width: calc(100% - 2 * var(--content-padding));
    }

    @include breakpoint(mobile) {
      width: calc(100% - 3rem);
      margin: 1.5rem;
      padding: 4rem 2rem;
      border-radius: 2rem;
    }
  }

  &__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    @include breakpoint(mobile) {
      top: 1rem;
      right: 1rem;
    }

    svg {
      width: 3.2rem;
      height: 3.2rem;

      fill: #212A2F;

      @include breakpoint(mobile) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__heading-block {
    margin-bottom: 6rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
    }
  }

  &__heading {
    @extend %fs-h1;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
  }

  &__heading-label {
    display: block;
    @extend %fs-t3;
    color: #212A2F;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint(tablet) {
      gap: 2rem;
    }
  }

  &__form-bottom {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include breakpoint(tablet) {
      margin-top: 2rem;
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: stretch;

      .policy-checkbox {
        order: 2;
      }

      .button {
        order: 1;
      }
    }
  }

  .form-input {
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.hystmodal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: rgba(40, 40, 41, 0.8);
}

.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 1;
}