body.loaded {
  .intro__title-block {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  position: relative;

  padding-top: var(--js-header-height);
  min-height: 100vh;

  display: flex;

  .container {
    flex-grow: 1;

    display: flex;
  }

  &__images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .swiper-slide-active {
      .intro__image-wrapper img {
        transform: scale(1) !important;
      }
    }
  }

  &__image-wrapper {
    overflow: hidden;

    flex-grow: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.7s ease-out;
    }
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    position: relative;
    z-index: 2;

    margin: 6rem 0 10rem;
    min-width: 0;

    @media screen and(max-width: 1280px) {
      gap: 3rem;
      margin-top: 4rem;
    }

    @include breakpoint(tablet) {
      margin: 4rem -2rem 4rem;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 10rem;
    line-height: 1;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;

    transform: translateY(5rem);
    opacity: 0;

    transition: transform 0.3s ease-out, opacity 0.2s ease-in;

    @media screen and(max-width: 1280px) {
      font-size: 8rem;
    }

    @include breakpoint(tablet) {
      font-size: 7rem;
    }

    @include breakpoint(mobile) {
      font-size: 5rem;
    }
  }

  &__bonus-wrapper {
    position: relative;
  }

  &__bonus {
    position: absolute;
    top: 0.4rem;
    left: calc(100% + 2rem);

    display: flex;
    align-items: center;
    gap: 0.8rem;

    margin-top: 1rem;
    width: max-content;
    padding: 1.2rem;

    background: linear-gradient(180deg, #FF511B 0%, #FFA41B 100%);
    border-radius: 1.2rem 1.2rem 1.2rem 0;

    font-size: 2rem;
    line-height: 1;
    color: white;

    @media screen and(max-width: 1280px) {
      margin-top: 0.8rem;
    }

    @include breakpoint(tablet) {
      margin-top: 0.7rem;
    }

    @include breakpoint(mobile) {
      margin-top: 0.5rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.4rem;
      padding: 0.9rem 0.8rem;

      top: 0.2rem;
    }

    svg {
      width: 1.1rem;
      height: 1.1rem;
      fill: white;
    }
  }

  &__thumbs {
    width: calc(102rem + var(--content-padding));
    margin: 0;

    overflow: hidden;

    margin-left: calc(-1 * var(--content-padding));
    padding-left: var(--content-padding);

    @media only screen and (max-width: (1439px)) {
      display: none;
    }

    .swiper-slide-thumb-active .intro__thumb-text {
      opacity: 1;
    }
  }

  &__thumb {
    &.disabled {
      .intro__thumb-line {
        display: none;
      }
    }

    &:hover {
      .intro__thumb-text {
        opacity: 0.8;
      }
    }
  }

  &__thumb-line {
    overflow: hidden;

    position: relative;

    margin-bottom: 3rem;
    width: 100%;
    height: 0.1rem;

    background-color: rgba(0, 0, 0, 0.15);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__thumb-fill {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 0.1rem;

    background-color: #212A2F;
  }

  &__thumb-text {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;

    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  &__mobile-slider-block {
    width: 100%;
    min-width: 0;
    margin-top: 3rem;

    @media only screen and (min-width: (1440px)) {
      display: none;
    }
  }

  &__mobile-slider {
    margin-left: 0;
    max-width: 21rem;

    @include breakpoint(mobile) {
      max-width: 26rem;
      width: calc(100% - 10rem);
    }
  }

  &__mobile-slider-text {
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
  }

  &__mobile-slider-buttons {
    position: absolute;
    top: 0;
    left: calc(100% + 6rem);

    display: flex;
    gap: 0.4rem;

    @include breakpoint(mobile) {
      left: calc(100% + 1.6rem);
    }

    .slider-button {
      background: white;
    }
  }

  &__button-block {
    display: flex;
    align-items: center;
    gap: 3rem;

    width: fit-content;
    margin-top: 5rem;
    padding: 2rem;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 2.4rem;

    @media screen and(max-width: 1280px) {
      margin-top: 0;
    }

    @include breakpoint(tablet) {
      flex-direction: column;
      gap: 2rem;

      margin-top: 2rem;
      max-width: 36rem;
    }

    @include breakpoint(mobile) {
      width: 100%;
      max-width: unset;
      background-color: white;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding: 2rem 3rem;

    background-color: var(--primary-color);
    box-shadow: 0 1rem 2rem rgba(255, 164, 27, 0.2);
    border-radius: 1.2rem;

    transition: background-color 0.3s ease;

    @include breakpoint(tablet) {
      justify-content: space-between;

      width: 100%;
    }

    &:hover {
      background-color: #ED7B11;
    }
  }

  &__button-label {
    @extend %fs-h2;
    font-weight: 700;
    line-height: 1;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
  }

  &__button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 0.8rem;

    svg {
      width: 1.2rem;
      height: 1.6rem;

      fill: #FFA41B;
    }
  }

  &__tip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.4rem;

    max-width: 22.8rem;

    @include breakpoint(tablet) {
      max-width: unset;

      flex-direction: row;
      gap: 1.6rem;
      align-items: center;
    }
  }

  &__tip-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--primary-color);
  }

  &__tip-text {
    @extend %fs-t3;
    font-weight: 400;
    line-height: 1;
    color: var(--text-color);
  }

  &__region {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    width: 27rem;
    padding: 2rem 2rem 6rem;

    color: white;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);

    @include breakpoint(tablet) {
      width: 17.2rem;
      padding: 1.4rem 1rem 3.6rem;

      gap: 0.6rem;
    }

    @include breakpoint(mobile) {
      position: static;
      right: unset;
      bottom: unset;

      margin-left: auto;
    }

    img {
      width: 4.4rem;
      height: 3.3rem;
      object-fit: contain;
    }
  }

  &__region-title {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;

    @include breakpoint(tablet) {
      font-size: 2.4rem;
      margin-top: 1rem;
    }
  }

  &__region-description {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;

    @include breakpoint(tablet) {
      font-size: 1rem;
    }
  }

  .slider-button.swiper-button-disabled {
    opacity: 0.5;
  }
}