.form-input {
  position: relative;
  user-select: none;

  width: 100%;

  &:hover,
  &:focus {
    .form-input__input {
      border-color: rgba(0, 0, 0, 1);
    }

    &.--green {
      .form-input__input {
        border-color: rgba(255, 255, 255, 1);
      }
    }
  }

  &.filled .form-input__placeholder {
    transform: translateY(-100%);

    font-size: 1rem;
  }

  &.focused .form-input__placeholder {
    transform: translateY(-100%);

    font-size: 1.4rem;
  }

  &.--green {
    .form-input__input {
      color: white;
      border-color: rgba(255, 255, 255, 0.2);

      &::placeholder {
        color: white;
      }
    }
  }

  &.error {
    .form-input__input {
      color: var(--error);
      border-color: var(--error);
    }

    .form-input__placeholder {
      color: var(--error);
    }
  }

  &__input {
    @extend %fs-t2;
    line-height: 1;

    padding-bottom: 2rem;

    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);

    color: var(--text-color);

    transition: color 0.3s ease, border-color 0.3s ease;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }

    &::placeholder {
      color: var(--text-color);
    }
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(0);

    font-size: 2rem;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;

    transition: font-size 0.1s linear, transform 0.1s ease-in, color 0.3s ease;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }
}