// new mart 2023
.form-radio {
  &__list-item-wrapper--wide {
    grid-column: span 2;

    @include breakpoint(mobile) {
      grid-column: 1;
    }
  }

  &__list-item-wrapper--empty {
    .form-radio__image-wrapper {
      background: none;

      @include breakpoint(mobile) {
        display: none;
      }
    }
  }

  .form-radio__select-label-wrapper .form-radio__select-image-small-wrapper {
    flex-shrink: 0;
    position: relative;

    width: 2.2rem;
    height: 2.2rem;

    border-radius: 0.4rem;

    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

.form-radio {
  position: relative;

  &.--small-images {
    .form-radio__list {
      grid-template-columns: repeat(3, 1fr);

      @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        overflow: auto;
        max-height: 24rem;

        @include customScrollbar;
      }
    }

    .form-radio__item {
      @include breakpoint(mobile) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border: none;
        padding: 1rem 1.6rem;
      }
    }

    .form-radio__image-wrapper {
      overflow: visible;
      position: relative;
      height: 4.8rem;
      width: 100%;
      max-width: 4.8rem;

      background: none;
      border-radius: 0;

      @include breakpoint(mobile) {
        display: block;
      }

      img {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;

        object-fit: contain;
      }
    }
  }

  &.--images-in-select {
    .form-radio__select {
      @include breakpointMF(small-tablet) {
        display: flex;
      }
    }

    .form-radio__list {
      position: absolute;
      top: calc(100% + 0.4rem);
      left: 0;
      z-index: 2;

      width: 100%;
      padding: 1rem 0;
      grid-template-columns: 1fr;
      border: 0.1rem solid rgba(33, 42, 47, 0.2);
      border-radius: 0.8rem;
      box-shadow: 0 0 0.6rem 0.1rem rgba(34, 60, 80, 0.1);

      background-color: white;

      opacity: 0;
      visibility: hidden;

      transition: opacity 0.3s ease, visibility 0.3s ease;

      overflow: auto;
      max-height: 24rem;

      @include customScrollbar;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .form-radio__item {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border: none;
      padding: 1rem 1.6rem;

      &.active {
        background: none;
        box-shadow: none;

        .form-radio__name {
          color: var(--secondary-color);
        }
      }
    }

    .form-radio__image-wrapper {
      overflow: visible;
      position: relative;
      height: 4.8rem;
      width: 100%;
      max-width: 4.8rem;

      background: none;
      border-radius: 0;

      @include breakpoint(mobile) {
        display: block;
      }

      img {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;

        object-fit: contain;
      }
    }

    .form-radio__name {
      padding-left: 0;
      font-size: 1.4rem;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  &.--socials {
    .form-radio__select {
      padding: 0 0 1.7rem 0;
      border: none;
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
      border-radius: 0;

      svg {
        width: 1.4rem;
        height: 0.8rem;
      }
    }

    .form-radio__select-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3.2rem;
      height: 3.2rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 0.6rem;
    }

    .form-radio__select-label-wrapper {
      img {
        height: 1.8rem;
        width: 1.8rem;

        object-fit: contain;
      }
    }

    .form-radio__select-label {
      font-size: 2rem;
      font-family: 'Bebas Neue', cursive;
      line-height: 1;

      @include breakpoint(tablet) {
        font-size: 1.4rem;
      }
    }

    .form-radio__list {
      background-color: var(--secondary-color);
    }

    .form-radio__item {
      &.active {
        .form-radio__name {
          color: white;
        }
      }

      .form-radio__name {
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        line-height: 1;

        @include breakpoint(tablet) {
          font-size: 1.4rem;
        }
      }
    }

    .form-radio__image-wrapper {
      height: 1.8rem;
      max-width: 1.8rem;
    }
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;
    padding: 1rem 1.6rem;
    border: 0.1rem solid rgba(33, 42, 47, 0.2);
    border-radius: 0.8rem;
    width: 100%;
    min-height: 4rem;

    @include breakpointMF(small-tablet) {
      display: none;
    }

    svg {
      width: 0.8rem;
      height: 0.5rem;

      transition: transform 0.3s ease;
    }

    &.active svg {
      transform: rotate(-180deg);
    }
  }

  &__select-label-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 4.8rem;
      width: auto;
      object-fit: contain;
    }
  }

  &__select-label {
    font-size: 1.4rem;

    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;

    @include breakpoint(mobile) {
      position: absolute;
      top: calc(100% + 0.4rem);
      left: 0;
      z-index: 2;

      width: 100%;
      padding: 1rem 0;
      grid-template-columns: 1fr;
      border: 0.1rem solid rgba(33, 42, 47, 0.2);
      border-radius: 0.8rem;
      box-shadow: 0 0 0.6rem 0.1rem rgba(34, 60, 80, 0.1);

      background-color: white;

      opacity: 0;
      visibility: hidden;

      transition: opacity 0.3s ease, visibility 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    & > * {
      position: relative;
    }

    .tooltip {
      position: absolute;
      top: 2.8rem;
      right: 2.8rem;

      @include breakpoint(mobile) {
        display: none;
      }
    }
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    user-select: none;
    padding: 1.6rem;

    height: 100%;
    border: 0.1rem solid rgba(33, 42, 47, 0.2);
    border-radius: 1.2rem;

    transition: box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

    @include breakpoint(mobile) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      border: none;
      padding: 1rem 1.6rem;

      &.active .form-radio__name {
        color: var(--secondary-color);
      }
    }

    &.active {
      background-color: rgba(28, 186, 56, 0.05);
      box-shadow: 0 0.4rem 2rem rgba(28, 186, 56, 0.1);
      border-color: var(--secondary-color);

      @include breakpoint(mobile) {
        background: none;
        box-shadow: none;
      }

      .form-radio__name::after {
        background-color: var(--secondary-color);
      }

      .form-radio__name::before {
        background-color: rgba(28, 186, 56, 0.1);
        border-color: var(--secondary-color);
      }
    }

    &:hover {
      border-color: var(--secondary-color);
      background-color: rgba(28, 186, 56, 0.05);

      .form-radio__name::before {
        border-color: var(--secondary-color);
      }
    }
  }

  &__image-wrapper {
    overflow: hidden;
    position: relative;
    height: 13.2rem;
    width: 100%;

    background: var(--placeholder);
    border-radius: 1.2rem;

    @include breakpoint(mobile) {
      width: 2.2rem;
      height: 2.2rem;

      border-radius: 0.4rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__name {
    position: relative;

    display: block;
    padding-left: 3.6rem;
    font-size: 1.6rem;

    @include breakpoint(mobile) {
      padding-left: 0;
      font-size: 1.4rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 2.4rem;
      height: 2.4rem;


      border: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;

      transition: background-color 0.3s ease, border-color 0.3s ease;

      @include breakpoint(mobile) {
        content: none;
      }
    }

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 0.6rem;
      transform: translateY(-50%);

      width: 1.2rem;
      height: 1.2rem;

      border-radius: 50%;

      transition: background-color 0.3s ease;

      @include breakpoint(mobile) {
        content: none;
      }
    }
  }
}