.button {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  min-height: 4.8rem;

  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  text-align: center;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.8rem;
  cursor: pointer;
  user-select: none;

  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  @include breakpoint(mobile) {
    width: 100%;
  }

  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    background-color: #0A9923;
    border-color: #0A9923;
  }

  &.--white {

    &:link,
    &:visited {
      color: #212A2F;
    }

    color: #212A2F;
    background-color: white;
    border-color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      border-color: rgba(255, 255, 255, 0.8);
    }
  }

  &.--transparent {

    color: inherit;

    &:link,
    &:visited {
      color: inherit;
    }

    background-color: rgba(0, 0, 0, 0);
    border-color:rgba(33, 42, 47, 0.2);

    &:hover {
      color: var(--secondary-color);
      background-color: rgba(28, 186, 56, 0.1);
      border-color: var(--secondary-color);
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7.2rem;
  height: 7.2rem;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.4);

  @include breakpoint(tablet) {
    width: 4.8rem;
    height: 4.8rem;
  }

  &.--green {
    background-color: var(--secondary-color);
  }

  svg {
    width: 2rem;
    height: 1.7rem;
    padding-left: 0.2rem;

    fill: white;

    @include breakpoint(tablet) {
      width: 1.5rem;
      height: 1.2rem;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  pointer-events: none;
}

.slider-button {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;

  background: var(--bg);
  border-radius: 0.8rem;

  transition: opacity 0.3s ease;

  &:hover {
    svg {
      fill: var(--secondary-color);
    }
  }

  svg {
    width: 1.2rem;
    height: 1.6rem;

    fill: #212A2F;
  }

  &.--left {
    svg {
      transform: rotate(180deg);
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;
    background: none;
    opacity: 0.5;
  }

  &.swiper-button-lock {
    opacity: 0;
    visibility: hidden;
  }
}

.pagination {

  display: flex;
  align-items: center;
  gap: 1.2rem;

  &.swiper-pagination-lock {
    display: none;
  }

  &__item {
    display: block;

    width: 0.8rem;
    height: 0.8rem;
    border-radius: 10rem;

    background-color: #212A2F;
    opacity: 0.1;

    transition: background-color 0.3s ease, opacity 0.3s ease, width 0.3s ease;

    &.active {
      background-color: var(--secondary-color);
      opacity: 1;
      width: 3.6rem;
    }
  }
}

.range-slider {
  padding-top: 1.4rem;

  &__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    @extend %fs-t2;

    user-select: none;
  }

  .noUi-target {
    background: #F5F5F5;
    border-radius: 1rem;
    border: none;
    box-shadow: none;
  }

  .noUi-connect {
    background-color: var(--primary-color);
  }

  .noUi-horizontal {
    height: 0.4rem;
  }

  .noUi-handle {
    top: -0.6rem;
    right: -0.8rem;

    width: 1.6rem;
    height: 1.6rem;

    border-radius: 50%;
    cursor: pointer;
    background: white;

    border: 4px solid var(--primary-color);

    transition: border-color 0.3s ease, left 0.3s ease-in-out;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}