<section class="intro js-init-intro-slider">
  <h1 class="visually-hidden">Купить металлочерепицу в Тюмени</h1>

  <div class="swiper intro__images">
    <ul class="swiper-wrapper">
      {{#each introSlider}}
      <li class="swiper-slide">
        <div class="intro__image-wrapper">
          <img class="lazyload" data-src="{{this.image}}" alt="Intro Image">
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="container">
    <div class="intro__inner">
      <div class="intro__title-block">
        <span>Купить металлочерепицу</span>
        <div class="intro__bonus-wrapper">
          <span>В Тюмени</span>
          <div class="intro__bonus">
            <svg>
              <use xlink:href="#plus">
            </svg>
            <span>монтаж под ключ</span>
          </div>
        </div>

        <div class="intro__mobile-slider-block">
          <div class="swiper intro__mobile-slider">
            <ul class="swiper-wrapper">
              {{#each introSlider}}
              <li class="swiper-slide">
                <div class="intro__mobile-slider-text">
                  <p>{{this.text}}</p>
                </div>
              </li>
              {{/each}}
            </ul>
            <div class="intro__mobile-slider-buttons">
              <button class="slider-button --left">
                <svg>
                  <use xlink:href="#arrow">
                </svg>
              </button>
              <button class="slider-button --right">
                <svg>
                  <use xlink:href="#arrow">
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="intro__bottom">
        <div class="swiper intro__thumbs">
          <ul class="swiper-wrapper">
            {{#each introSlider}}
            <li class="swiper-slide">
              <a class="intro__thumb" href="#">
                <div class="intro__thumb-line">
                  <div class="intro__thumb-fill"></div>
                </div>
                <div class="intro__thumb-text">
                  <p>{{this.text}}</p>
                </div>
              </a>
            </li>
            {{/each}}
          </ul>
        </div>

        <div class="intro__region" style="clip-path: url(#region)">
          <svg width="0" height="0" preserveAspectRatio="none">
            <defs>
              <clipPath id="region" clipPathUnits="objectBoundingBox">
                <path
                  d="M0 0.1C0 0.0447715 0.0447715 0 0.1 0H0.9C0.955228 0 1 0.0447715 1 0.1V0.755501C1 0.797935 0.973218 0.835749 0.933189 0.849832L0.53838 0.988741C0.517122 0.99622 0.493961 0.9963 0.472653 0.988967L0.0674622 0.84954C0.0270974 0.83565 0 0.797669 0 0.754982V0.1Z" />
              </clipPath>
            </defs>
          </svg>
          <img class="lazyload" data-src="img/region.svg" alt="Region">
          <span class="intro__region-title">РЕГИОН 72</span>
          <span class="intro__region-description">Наши крыши в каждом поселке и дачном сообществе Тюмени</span>
        </div>

        <div class="intro__button-block">
          <a class="intro__button" href="#">
            <span class="intro__button-label">Рассчитать стоимость</span>
            <div class="intro__button-arrow">
              <svg>
                <use xlink:href="#arrow">
              </svg>
            </div>
          </a>
          <div class="intro__tip">
            <svg class="intro__tip-icon">
              <use xlink:href="#question">
            </svg>
            <div class="intro__tip-text">
              <p>Ответьте на несколько вопросов получите расчет материалов и монтажа</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>