.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;

  padding-top: 6rem;
  padding-bottom: 2rem;

  @include breakpoint(desktop) {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  &.opened {
    position: fixed;
    padding: 2.4rem 0;
    background: #fff;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 5%);
    border-radius: 0 0 1.2rem 1.2rem;

    .container,
    .header__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
    }

    .header__phone-block,
    .header__top {
      display: contents;
    }

    .header__contact-block,
    .header__logo-label,
    .header__phone-link,
    .header__info {
      display: none;
    }

    .header__logo-block {
      order: 1;
      flex-shrink: 0;
    }

    .header-menu {
      order: 2;
      margin: 0;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    .header__buttons {
      order: 3;
      flex-shrink: 0;
    }

    .header-menu__wrapper {
      margin: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;

    @include breakpoint(tablet) {
      margin: 0 -2rem;
    }
  }

  &__logo-block {
    display: flex;
    align-items: center;
    gap: 2rem;

    user-select: none;

    @include hover;
  }

  &__logo {
    width: 11.6rem;
    height: auto;

    object-fit: contain;

    @include breakpoint(mobile) {
      width: 8.8rem;
    }
  }

  &__logo-label {
    font-size: 2.4rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;

    @include breakpoint(laptop) {
      font-size: 2rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.6rem;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__address {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__time {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__contact-block {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding: 1.6rem 2.4rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.6rem 1.2rem;

    user-select: none;

    @include breakpoint(laptop) {
      padding: 1.4rem 1.2rem;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__contact-heading {
    @extend %fs-t3;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__contact-links {
    display: flex;
    gap: 0.4rem;
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--secondary-color);
    background-color: var(--secondary-color);

    transition: background-color 0.3s ease, border-color 0.3s ease;

    svg {
      width: 1.8rem;
      height: 1.8rem;

      fill: white;
    }

    &.--viber {
      background-color: #7B519D;
      border-color: #7B519D;

      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    &.--wa {
      background-color: #2BD449;
      border-color: #2BD449;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0);
      border-color: var(--secondary-color);

      svg {
        fill: var(--secondary-color);
      }
    }
  }

  &__phone-block {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding: 1.2rem 1.2rem 1.2rem 2.4rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.2rem;

    @include breakpoint(laptop) {
      padding: 1.2rem;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__phone-link {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;

    @include breakpoint(laptop) {
      font-size: 1.2rem;
    }

    &:hover,
    &:focus {
      color: var(--secondary-color);
    }
  }

  &__burger {
    flex-shrink: 0;

    display: none;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: white;

    @include breakpoint(desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &>* {
      display: block;
      width: 2.2rem;
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: #212A2F;

      transition: transform 0.3s ease;

      &:nth-child(1) {
        transform: translateY(-0.2rem);
      }

      &:nth-child(2) {
        transform: translateY(0.2rem);
      }
    }

    &.active {
      &>* {
        &:nth-child(1) {
          transform: translateY(0.1rem) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translateY(-0.1rem) rotate(-45deg);
        }
      }
    }
  }
}