.images {

  &__inner {
    padding: 8rem 4rem;
    margin: 0 -4rem;

    border: 0.1rem solid rgba(33, 42, 47, 0.2);
    border-radius: 4rem;
  }

  &__heading {}

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }

  &__item {}

  &__item-image {
    height: 28rem;
    width: 100%;
    object-fit: cover;
    border-radius: 4rem 4rem 4rem 0;

    margin-bottom: 4rem;
  }

  &__item-title {
    margin-bottom: 1rem;

    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
  }

  &__item-text {
    @extend %fs-t1;
    color: #5A5A5A;
  }
}