.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);

    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
}

.page-section-margin {
    margin: 8rem 0;

    @include breakpoint(tablet) {
        margin: 4rem 0;
    }
}

.page-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;

    @include breakpoint(desktop) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &>*:nth-child(1) {
        grid-column: span 1;
    }

    &>*:nth-child(2) {
        grid-column: span 3;

        @include breakpoint(desktop) {
            grid-column: span 1;
        }
    }
}

.page-section-wide-content {
    padding: 0 4rem;
    margin: 0 -4rem;

    border-radius: 4rem;

    @include breakpoint(tablet) {
        padding: 0 2rem;
        margin: 0 -2rem;

        border-radius: 2rem;
    }

    &.--grey {
        padding: 8rem 4rem;

        background: #F5F5F5;

        @include breakpoint(tablet) {
            padding: 4rem 2rem 2rem;
        }

        .swiper {
            overflow: hidden;
        }
    }

    &.--border {
        padding: 8rem 4rem;

        border: 0.1rem solid rgba(33, 42, 47, 0.2);

        @include breakpoint(tablet) {
            padding: 4rem 2rem;
        }

        .swiper {
            overflow: hidden;
        }
    }
}

.page-section-swiper-container {
    min-width: 0;
}

.page-section-heading {
    @extend %fs-h1;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
}