.map {
  margin-top: 8rem;

  @include breakpoint(tablet) {
    margin-top: 4rem;
  }

  &__inner {
    position: relative;

    min-height: 60rem;

    background-color: #F5F5F5;
    overflow: hidden;

    @include breakpoint(tablet) {
      min-height: 48rem;
    }

    @include breakpoint(mobile) {
      min-height: 32rem;
    }
  }

  &__js-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__overlay {}
}