.button {
  display: inline-block;
  padding: 1.2rem 2.4rem;

  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
  cursor: pointer;
  user-select: none;

  transition: background-color 0.3s ease;

  @include breakpoint(mobile) {
    width: 100%;
  }

  &:link,
  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: #0A9923;
  }

  &.--white {

    &:link,
    &:visited {
      color: var(--text-color);
    }

    background-color: white;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;

  background: #F5F5F5;
  border-radius: 0.8rem;

  &:hover,
  &:focus {
    svg {
      fill: var(--primary-color);
    }
  }

  svg {
    width: 1.2rem;
    height: 1.6rem;

    fill: #212A2F;
  }

  &.--left {
    svg {
      transform: rotate(180deg);
    }
  }

  &.--right {}

  &.swiper-button-disabled {
    pointer-events: none;
    background: none;
  }

  &.swiper-button-lock {
    opacity: 0;
    visibility: hidden;
  }
}

.pagination {

  display: flex;
  align-items: center;
  gap: 1.2rem;

  &.swiper-pagination-lock {
    display: none;
  }

  &__item {
    display: block;

    width: 0.8rem;
    height: 0.8rem;
    border-radius: 10rem;

    background-color: #212A2F;
    opacity: 0.1;

    transition: background-color 0.3s ease, opacity 0.3s ease, width 0.3s ease;

    &.active {
      background-color: #1CBA38;
      opacity: 1;
      width: 3.6rem;
    }
  }
}